.caption {
    color: #ffb742;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    padding: 6px 25px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.08);

    text-transform: uppercase;
}