.carousel {
    overflow: hidden;
}

.carousel__inner {
    display: flex;
    transition: 2s;
}

.carousel__slide {
    display: flex;
    margin-right: 20px;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
}

.carousel__slider {
    margin-top: 66px;
}