.carousel {
    overflow: hidden;
}

.carousel__inner {
    display: flex;
}

.carousel__slide {
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    width: 100%;
}

.carousel__slider {
    margin-top: 66px;
}