.container {
    max-width: 1342px;
    margin: 0 auto;
}

.container__self {
    margin: 0 auto;
}

.container__header {
    margin-top: 17px;
}

.container__main {
    margin-top: 108px;
}

.container__about {
    margin-top: 136px;
}

.container__skills {
    margin-top: 137px;
}

.container__works {
    margin-top: 137px;
}

.container__testimonials {
    margin-top: 138px;
}

.container__footer {
    margin-top: 204px;
}

.container--full-width {
    max-width: 100%;
}

.container__project-call {
    position: relative;
    max-height: 174px;
    max-width: 1116px;
}