.footer {
    background-color: #1c1c1c;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 148px;
    padding-bottom: 90px;
}

.footer__item {
    max-width: 253px;
}

.footer__name {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: #ffb742;
}

.footer__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer__link {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    text-decoration: none;
    color: #7b7b7b;
}

.footer__hint {
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #7b7b7b;
}

.footer__title {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    font-size: 22px;
    line-height: 32px;
    color: #f5fbf2;
}

.footer__desc {
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #d4d4d4;
    line-height: 32px;
}

.footer__newsletter {
    max-width: 319px;
}

.footer__about-me {
    max-width: 254px;
}