.slider {
    display: flex;
    justify-content: center;
}

.slider__item {
    margin-left: 10px;
    width: 20px;
    height: 10px;
    background-color: #bb842c;
    border-radius: 10px;
    cursor: pointer;
}

.slider__item--active {
    width: 49px;
    background-color: #ffb742;
    border-color: #ffb742;
}