.sample-list {
    display: grid;
    grid-template-columns: 390px 390px 390px;
    grid-template-rows: auto auto auto;
    grid-auto-flow: column;
    justify-content: center;
    gap: 32px;
}

.sample-list__sample:nth-child(1) {
    grid-row-end: span 2;
}

.sample-list__sample:nth-child(4) {
    grid-row-end: span 2;
}

.sample-list__sample:nth-child(5) {
    grid-row-end: span 2;
}